<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body>
<pre id="pre"></pre>
<script>
(_=>{
    let logger = document.getElementById('pre');
    console.log = (message) => {
        if (typeof message == 'object') {
            logger.innerHTML += (JSON && JSON.stringify ? JSON.stringify(message) : message) + '<br />';
        } else {
            logger.innerHTML += message + '<br />';
        }
    }
})();

const [name, age] = ['아이유', 23];
const iu = `내 이름은 ${name}입니다.
나는 ${age}살입니다.`;

console.log(iu);
	
</script>
</body>
</html>