<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body>
<pre id="pre"></pre>
<script>
(_=>{
    let logger = document.getElementById('pre');
    console.log = (message) => {
        if (typeof message == 'object') {
            logger.innerHTML += (JSON && JSON.stringify ? JSON.stringify(message) : message) + '<br />';
        } else {
            logger.innerHTML += message + '<br />';
        }
    }
})();

function decimalCommas(str, ...subs){
  return str.reduce((prev, curr, idx) =>
    prev +
    (subs[idx - 1]+'')
      .replace(/\B(?=(\d{3})+(?!\d))/g, ",") +
    curr
  );
}

let comic = { name: '더 파이팅', amount: 108, unitPrice: 4500 };

let msg = decimalCommas `${comic.name} 만화책의 권당 가격은 ${comic.unitPrice}입니다.
${comic.amount}권 전 권 구매시 총액은 ${comic.amount * comic.unitPrice}원입니다.
구매하시겠습니까?`;

console.log(msg);
	
</script>
</body>
</html>